.App {
  text-align: center;
  background-image: url("https://images.creativemarket.com/0.1.0/ps/5453858/910/607/m2/fpnw/wm1/hi52njjuwiqtq4xf2katxxcsv7u5ldskyzb6pjern4m9gr7pjihtxd3uic3hw16y-.jpg?1543400758&s=bfe7663ffc79cd763ff61915ea715514");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}